

.........<div *ngIf="flag"> {{name}}</div> <br>

///example event binding
<button class="btn btn primary" (click)="show()">click me</button>


///example of structural directive
.........<div *ngFor="let f of fruits">
                {{f.name}}
                  {{f.cost}}
           </div> <br>

           ///example of two binding

           <h2>Two-way Binding Example</h2> 

            <input type="text" [(ngModel)]='fullName'/> <br/><br/>    
             
            
      .....................<p>{{fullName | uppercase}}</p> 

           ........ <p>{{fullName | lowercase}}</p> 

             



<router-outlet></router-outlet>
